<section id="partners" class="partners">
    <div class="container">
        <h3 class="subtle-section-title">Ils Nous Font Confiance</h3>
        <div class="logos">
            <div class="logo_items">
                <img src="assets/images/partners/partner-logo-1.png" alt="Logo Partenaire 1">
                <img src="assets/images/partners/partner-logo-2.png" alt="Logo Partenaire 2">
                <img src="assets/images/partners/partner-logo-3.png" alt="Logo Partenaire 3">
                <img src="assets/images/partners/partner-logo-4.png" alt="Logo Partenaire 4">
                <img src="assets/images/partners/partner-logo-5.png" alt="Logo Partenaire 5">
            </div>
            <div class="logo_items">
                <img src="assets/images/partners/partner-logo-1.png" alt="Logo Partenaire 1">
                <img src="assets/images/partners/partner-logo-2.png" alt="Logo Partenaire 2">
                <img src="assets/images/partners/partner-logo-3.png" alt="Logo Partenaire 3">
                <img src="assets/images/partners/partner-logo-4.png" alt="Logo Partenaire 4">
                <img src="assets/images/partners/partner-logo-5.png" alt="Logo Partenaire 5">
            </div>
        </div>
    </div>
</section>